body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Gotham", sans-serif;

  --sunray: #d3a95a;
}

a {
  color: unset;
  text-decoration: none;
}

h1, h2, h3, nav {
  font-family: "Aileron", serif;
  margin: 0
}

ol, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Aileron";
  src: url(/Ailerons-Typeface.otf) format("opentype");
}

/*
@font-face {
  font-family: "Raleway";
  src: url(/Raleway-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url(/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
}
*/

@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url(/GothamBook.ttf) format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url(/GothamBold.ttf) format("truetype");
}
