@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body,
	html {
		height: 100%;
		font-family: 'Gotham', sans-serif;
		scroll-behavior: smooth;

		--sunray: #d3a95a;
	}

	body {
		display: grid;
		grid-template-rows: min-content 1fr min-content;
	}

	a {
		color: unset;
		text-decoration: none;
	}

	h1 {
		font-size: 2em;
	}

	h1,
	h2,
	h3 {
		font-family: 'RiotSquad', serif;
	}

	nav {
		@apply font-aileron;
	}

	/* @font-face {
		font-family: 'Aileron';
		src: url(/Ailerons-Typeface.otf) format('opentype');
	} */

	@font-face {
		font-family: 'RiotSquad';
		src: url('/RIOTSQUA.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	/*
@font-face {
  font-family: "Raleway";
  src: url(/Raleway-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url(/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
}
*/

	@font-face {
		font-family: 'Gotham';
		font-weight: 400;
		src: url(/GothamBook.ttf) format('truetype');
	}

	@font-face {
		font-family: 'Gotham';
		font-weight: 700;
		src: url(/GothamBold.ttf) format('truetype');
	}

	.drop-white {
		filter: drop-shadow(2px 2px 2px white);
	}

	.marked {
		font-weight: 300;

		@apply flex flex-col gap-4;
	}

	.marked strong {
		font-weight: 600;
	}

	.marked ul li {
		margin-left: 1.5rem;
		list-style-type: disc;
	}

	.marked ul li:not(:last-child) {
		margin-bottom: 1rem;
	}

	.h-full-without-banner {
		height: calc(100vh - 1rem - (14rem / 4));
	}

	@media (min-width: 640px) {
		.h-full-without-banner {
			height: calc(100vh - 1rem - (18rem / 4));
		}
	}
	@media (min-width: 768px) {
		.h-full-without-banner {
			height: calc(100vh - 1rem - (24rem / 4));
		}
	}
	@media (min-width: 1024px) {
		.h-full-without-banner {
			height: calc(100vh - 1rem - (32rem / 4));
		}
	}

	select.input {
		cursor: pointer;
	}

	textarea.input {
		max-width: calc(100% - 1rem);
	}
}

@layer utilities {
}

@layer components {
	.input {
		@apply w-full max-w-[20rem] text-lg pl-2 border-solid border-2 rounded-xl;
	}
	.link {
		@apply underline text-brunswick;
	}
	.btn {
		@apply text-white bg-oxford px-4 text-base py-2 rounded-3xl font-bold border-0 cursor-pointer;
	}
	.btn-red {
		@apply text-white bg-red-500 px-4 text-base py-2 rounded-3xl font-bold border-0 cursor-pointer;
	}
	.btn-sunray {
		@apply text-white bg-sunray px-4 text-base py-2 rounded-3xl font-bold border-0 cursor-pointer;
	}
}
